@page
@model BankingApp.Pages.Transactions.TransferModel
@{
    ViewData["Title"] = "Transfer Funds";
}

<h1>@ViewData["Title"]</h1>
<div id="error" name="errorMsg" class="alert-danger">
    <ul id="errorList">
        @foreach (string msg in Model.ErrorMessages)
        {
            <li>@msg</li>
        }
    </ul>
</div>
<form method="post">
<p class="bold">
    From Account
    <select id="fromAccountId" class="required" asp-for="TransferVM.FromAccountId" asp-items="@Model.FromAccounts"></select>
    To Account
    <select id="toAccountId" class="required" asp-for="TransferVM.ToAccountId" asp-items="@Model.ToAccounts"></select>
    Amount to transfer
    <input id="transferAmount" class="required" asp-for="TransferVM.Amount" />
    <button type="submit">Transfer</button></p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}