@page
@model BankingApp.Pages.Transactions.TransferModel
@{
    ViewData["Title"] = "Transfer Funds";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
<p class="bold">
    From Account
    <select asp-for="TransferVM.FromAccountId" asp-items="@Model.FromAccounts"></select>
    To Account
    <select asp-for="TransferVM.ToAccountId" asp-items="@Model.ToAccounts"></select>
    Amount to transfer
    <input asp-for="TransferVM.Amount" />
    <button type="submit">Transfer</button></p>
</form>